.navMenu{
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    margin-left: 20px;
}
.navMenu:hover{
    color: white;
    background-color: rgb(232, 165, 76);

}

.navMenu.active {
    color: white;
    background-color: rgb(111, 64, 3);
    padding: 4px 8px;
    border-radius: 8px;
  }